<%- include('../../partials/header-main') %>

    <%- include('../../partials/instructor') %>

        <% if (user && profile) { %>
            <% profiles.forEach(function(p) { %>
                <section id="show-page">
                    <div>
                        <h1>
                            <%= p.title %>
                        </h1>
                    </div>
                    <div>Name: </div>
                    <div>
                        <%= p.nickname %>
                    </div>
                    <div>Location: </div>
                    <div>
                        <%= p.location %>
                    </div>
                </section>
                <a href="/profiles/instructors/<%= p._id %>"><button>View Instructor Profile</button></a>
                <% }) %>

                    <% } %>


                        <%- include('../../partials/nav-footer') %>