<%- include('../../partials/header') %>



    <% if (user) { %>
        <% if (profile && profile.isInstructor) { %>
            <section id="show-page">
                <div>
                    <div autocapitalize="words" class="name-input">Name:
                        <%= profile.nickname %>
                    </div>
                </div>
                <div>
                    <div autocapitalize="word" class="location-input">Location:
                        <%= profile.location %>
                    </div>
                </div>
                <div autocapitalize="words">
                    <div autocapitalize="sentences" id="bio">Bio:
                        <%= profile.bio %>
                    </div>
                </div>
                <div>Instruments:
                    <div>
                        <% profile.instruments.forEach(function(instrument) { %>

                            <%= instrument.name %>

                                <% }) %>
                    </div>
                </div>
                <div>Genres:
                    <div>
                        <%= profile.genres %>
                    </div>
                </div>
                <div>Students:
                    <div id="students" autocapitalize="words">
                        <% profile.chosenStudents.forEach(function(s) { %>

                            <%= s.nickname %>


                                <% }) %>
                    </div>
                </div>
                <div>Budget:
                    <div>
                        $<%= profile.budget %>/HR
                    </div>
                </div>
                <a class="update-profile-link" href="/profiles/<%= profile._id%>/edit">UPDATE PROFILE</a>
            </section>

            <% } %>

                <% } %>



                    <%- include('../../partials/footer') %>