<%- include('../../partials/header-main') %>

<%- include('../../partials/instructor') %>

<% if (user && profile) { %>
<% profile.forEach(function(p) { %>
    <section id="show-page">
        <div><h1><%= p.title %></h1></div>
        <div>Name: </div>
        <div><%= p.nickname %></div>
        <div>Location: </div>
        <div><%= p.location %></div>
        <div>Bio: </div>
        <div><%= p.bio %></div>
        <div>Instruments: </div>
        <div><%= p.instruments %></div>
        <div>Genres: </div>
        <div><%= p.genres %></div>
    </section>
    <% profile.forEach(function(i) { %>
        <a href="/profiles/instructors/<%= i._id %>"><button>View Instructor Profile</button></a>
    <% }) %>
    <% }); %>
    <% } %>


    <%- include('../../partials/nav-footer') %>