<%- include('../../partials/header-main') %>

    <%- include('../../partials/student') %>

        <% if (user && profile) { %>
            <% profiles.forEach(function(p) { %>
                <section id="show-page">
                    <div>
                        <h1>
                            <%= p.title %>
                        </h1>
                    </div>
                    <div>Name: </div>
                    <div>
                        <%= p.nickname %>
                    </div>
                    <div>Location: </div>
                    <div>
                        <%= p.location %>
                    </div>
                </section>
                <a href="/profiles/instructors/<%= p._id %>"><button>View Instructor Profile</button></a>
                <% }) %>

                    <% } %>

                        <% if (user && !profile.isInstructor) { %>
                            <section id="show-page">
                                <div>
                                    <h1>
                                        <%= profile.title %>
                                    </h1>
                                </div>
                                <div>Name: </div>
                                <div>
                                    <%= profile.nickname %>
                                </div>
                                <div>Location: </div>
                                <div>
                                    <%= profile.location %>
                                </div>
                                <div>Bio: </div>
                                <div>
                                    <%= profile.bio %>
                                </div>
                                <div>Instruments: </div>
                                <div>
                                    <% profile.instruments.forEach(function(i) { %>
                                    <div>
                                            <%= i.instruments %>
                                        </div>
                                        <% }) %>

                                </div>
                                <div>Skill: </div>
                                <div>
                                    <%= profile.skillLevel %>
                                </div>
                                <!-- <div>Instructors: </div> -->
                                <div>
                                    <% profile.chosenInstructors.forEach(function(i) { %>
                                        <div>
                                            <%= i.name %>
                                                <button>FIRE!</button>
                                        </div>

                                        <% }) %>
                                </div>
                                <div>Interest: </div>
                                <div>
                                    <%= profile.interest %>
                                </div>
                            </section>
                            <% } %>


                                <%- include('../../partials/nav-footer') %>