<%- include('../../partials/header') %>

    <% if (user && instructors) { %>
        <main class="container text-center">
            <% instructors.forEach(function(instructor) { %>
                <section class="all-instructors row" id="show-page">
                    <div class="col-sm-2">Name:&nbsp;
                        <div class="name-input">
                            <%= instructor.nickname %>
                        </div>
                    </div>
                    <div> Instruments:&nbsp;
                        <% instructor.instruments.forEach(function(instrument) { %>
                            <div class="instrument-box">
                                <%=instrument.name%>
                            </div> &nbsp;
                            <%})%>
                    </div>
                    <a class="view-instructors-btn" href="/profiles/instructors/<%= instructor._id %>"><button
                            class="create">View Instructor
                            Profile</button></a>
                </section>
                <% })%>
        </main>
        <% } %>

            <%- include('../../partials/footer') %>