<%- include('../../partials/header') %>

    <% if (user && instructors) { %>
        <main class="view-instructors">
            <% instructors.forEach(function(instructor) { %>
                <section class="all-instructors" id="show-page">
                    <div class="">Name:&nbsp;
                        <div class="name-input">
                            <%= instructor.nickname %>
                        </div>
                    </div>
                    <div> Instruments:&nbsp;
                        <% instructor.instruments.forEach(function(instrument) { %>
                            <div>
                                <%=instrument.name%>
                            </div> &nbsp;
                            <%})%>
                    </div>
                    <a class="view-instructors-btn" href="/profiles/instructors/<%= instructor._id %>"><button
                            class="create">View Instructor
                            Profile</button></a>
                </section>
                <% })%>
        </main>

        <% } %>
        
            <%- include('../../partials/nav-footer') %>