<%- include('../../partials/header') %>

    <!-- <%- include('../../partials/instructor') %> -->

        <form id="edit-form" action="/profiles/students/<%= instructor._id %>?_method=DELETE" method="POST">
            <section class="show" id="show-page">
                <div>
                    <h1>
                        <%= instructor.title %>
                    </h1>
                </div>
                <div>Name: </div>
                <div>
                    <%= instructor.nickname %>
                </div>
                <div>Location: </div>
                <div>
                    <%= instructor.location %>
                </div>
                <div>Bio: </div>
                <div>
                    <%= instructor.bio %>
                </div>
                <div>Instruments: </div>
                <div>
                    <% instructor.instruments.forEach(function(i) { %>
                        <div>
                            <%= i.name %>
                        </div>

                        <% }) %>
                </div>
                <div>Genres: </div>
                <div>
                    <%= instructor.genres %>
                </div>
                <div>Budget: </div>
                <div>
                    $<%= instructor.budget %>/HR
                </div>
                <input type="hidden" name="chosenInstructors">
            </section>

            <button class="create" type="submit">FIRE!</button>
        </form>
        <a href="/profiles/student/home">More Instructors</a>



        <%- include('../../partials/nav-footer') %>