<%- include('../../partials/header-main') %>

    <%- include('../../partials/instructor') %>

        <form id="edit-form" action="/profiles/students/<%= instructor._id %>?_method=PUT" method="POST"
            name="instructorId">
            <section id="show-page">
                <div>
                    <h1>
                        <%= instructor.title %>
                    </h1>
                </div>
                <div>Name: </div>
                <div>
                    <%= instructor.nickname %>
                </div>
                <div>Location: </div>
                <div>
                    <%= instructor.location %>
                </div>
                <div>Bio: </div>
                <div>
                    <%= instructor.bio %>
                </div>
                <div>Instruments: </div>
                <div>
                    <%= instructor.instruments %>
                </div>
                <div>Genres: </div>
                <div>
                    <%= instructor.genres %>
                </div>
                <div>Budget: </div>
                <div>
                    <%= instructor.budget %>
                </div>
                <div>Availablity: </div>
                <div>
                    <%= instructor.availablity %>
                </div>
            </section>

            <button>HIRE ME</button>
        </form>
        <a href="/profiles/instructors">More Instructors</a>



        <%- include('../../partials/nav-footer') %>