<%- include('../partials/instructor') %>

<section id="show-page">
    <div>Location: </div>
    <div><%= instructor.location %></div>
    <div>Bio: </div>
    <div><%= instructor.bio %></div>
    <div>Instruments </div>
    <div><%= instructor.instruments %></div>
    <div>genres </div>
    <div><%= instructor.genres %></div>
   


    <%- include('../partials/nav-footer') %>