<%- include('../../partials/header') %>

    <section class="show" id="show-page">

        <div>Name:
            <div>
                <%= instructor.nickname %>
            </div>
        </div>
        <div>Location:
            <div>
                <%= location.city %>
                    <%= location.state %>,
                        <%= location.country %>
            </div>
        </div>
        <div>Bio:
            <div>
                <%= instructor.bio %>
            </div>
        </div>
        <div>Instruments:
            <div>
                <% instructor.instruments.forEach(function(i) { %>

                    <%= i.name %>

                        <% }) %>
            </div>
        </div>
        <div>Genres:
            <div>
                <%= instructor.genres %>
            </div>
        </div>
        <div>Budget:
            <div>
                $<%= instructor.budget %>/HR
            </div>
        </div>
        <form <%- student.chosenInstructors.includes(instructor._id) ? 'hidden' : '' %> action="/profiles/match/<%=
                instructor._id %>?_method=PUT" method="POST"><button class="hire" type="submit">HIRE?</button></form>
        <p class="assigned-teacher" <%- student.chosenInstructors.includes(instructor._id) ? '' : 'hidden' %> >Status:
            Assigned Teacher</p>
        <a href="/profiles/instructors/">More Instructors</a>
    </section>

    <%- include('../../partials/footer') %>