<%- include('../partials/header') %>

    <form id="form1" action="/profiles/<%= profile._id %>/?_method=PUT" method="POST">
        <section class="allapp">
            <div class="app">
                <label for="nickname">Edit Name:</label>
                <input required type="text" id="nickname" name="nickname" value='<%= profile.nickname %>'
                autocapitalize="words">
                <label for="location">Edit Location:</label>
                <input value="<%= profile.location %>" maxlength="5" required type="text" id="location" name="location"
                     >
                <label for="bio">Update Bio:</label>
                <textarea  required autocapitalize="on" id="bio" name="bio" cols="15"
                    rows="10" placeholder="<%= profile.bio %>"></textarea>
            </div>
            <div class="app">
                <label for="instruments">Update/Add Instruments:</label>
                <select required id="instruments" name="instruments" multiple="3">
                    <% instruments.forEach(function(i) { %>
                        <option selected>
                            <%= i.name %>
                        </option>
                        <% }) %>
                </select>
                <label for="genres">Genres:</label>
                <select required id="genres" name="genres">
                    <option value="R&B">R&B</option>
                    <option value="FUNK">Funk</option>
                    <option value="JAZZ">Jazz</option>
                    <option value="POP">Pop</option>
                    <option value="ROCK">Rock</option>
                    <option value="BOSSA">Bossa Nova</option>
                </select>

                <label for="budget">Budget: (Teachers) </label>
                <input type="text" name="budget" id="budget" value="$<%= profile.budget %>/hr">
            </div>
        </section>
        <button style="margin-top: 30px" class="create-edit" type="submit">UPDATE</button> <br>
        <a style="margin-left: 160px; color:black" href="/profiles/<%- profile.isInstructor ? 'instructor' : 'student' %>/<%= profile._id %>" type="submit">CANCEL</a>
    </form>

    <%- include('../partials/footer') %>