<%- include('../partials/header') %>



<h1>here</h1>
<div><% console.log(profile._id)%></div>

<% if (user) { %>
    <% if (profile && profile.isInstructor) { %>
            <section id="show-page">
                <div class="allapp">
                </div>
                <div>Name: </div>
                <div>
                    <%= profile.nickname %>
                </div>
                <div>Location: </div>
                <div>
                    <%= profile.location %>
                </div>
                <div>Bio: </div>
                <div>
                    <%= profile.bio %>
                </div>
                <div>Instruments: </div>
                <div>
                    <% profile.instruments.forEach(function(instrument) { %>
                        <div>
                            <%= instrument.name %>
                        </div>
                        <% }) %>
                        
                    </div>
                    <div>Genres: </div>
                    <div>
                        <%= profile.genres %>
                    </div>
                    <div>Budget: </div>
                    <div>
                        $<%= profile.budget %>/HR
                    </div>
                    <a href="/profiles/<%= profile._id%>/edit">UPDATE PROFILE</a>
                </section>
                
                <% } %>
                
                <% } %>
  
                    
                    
                    <%- include('../partials/footer') %>