<%- include('../partials/header') %>


    <% if (user) { %>
        <% if (profile && profile.isInstructor) { %>
            <section id="show-page">
                <div class="allapp">
                    <h1>
                        <%= profile.title %>
                    </h1>
                </div>
                <div>Name: </div>
                <div>
                    <%= profile.nickname %>
                </div>
                <div>Location: </div>
                <div>
                    <%= profile.location %>
                </div>
                <div>Bio: </div>
                <!-- <a href="/profiles/<%= profile._id%>/edit">UPDATE BIO</a> -->
                <div>
                    <%= profile.bio %>
                </div>
                <div>Instruments: </div>
                    <div>
                        <%= profile.instruments[6] %>
                        
                    </div>
                <div>Genres: </div>
                <div>
                    <%= profile.genres %>
                </div>
                <div>Budget: </div>
                <div>
                    $<%= profile.budget %>/HR
                </div>
            </section>

            <% } %>

                <% } else { %>
                    <a href="profiles/"><button>Create Profile</button></a>
                    <% } %>

                        <%- include('../partials/footer') %>