<%- include('../../partials/header') %>


    <h1 class="sign">Student</h1>
    <form id="form2" action="/profiles/new/student" method="POST">
        <section class="allapp">
            <div class="app">
                <label for="nickname">Nickname:</label>
                <input required type="text" id="nickname" placeholder="Enter your username" name="nickname"
                    minlength="3" maxlength="12" autocapitalize="words">
                <label for="location">Location:</label>
                <input required type="text" id="location" name="location" placeholder="Enter Location"
                    autocomplete="country-name" autocapitalize="words">
                <label for="bio">Bio:</label>
                <textarea autocapitalize="on" id="bio" name="bio" cols="15" rows="10"
                    placeholder="Tell us about yourself"></textarea>
            </div>
            <div class="app">
                <label for="instruments">Instruments:</label>
                <select required id="instruments" name="instruments" multiple="3">
                    <% instruments.forEach(function(i) { %>
                        <option value="<%= i._id %>">
                            <%= i.name %>
                        </option>
                        <% }) %>
                </select>
                <label for="needs">What do you want to learn?</label>
                <select required id="needs" name="needs" multiple="multiples">
                    <% instruments.forEach(function(i) { %>
                        <option value="<%= i._id %>">
                            <%= i.name %>
                        </option>
                        <% }) %>
                </select>
                <label for="skillLevel">Skill Level:</label>
                <select required id="skillLevel" name="skillLevel">
                    <option value="Novice">Novice</option>
                    <option value="Beginner">Beginner</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Advanced">Advanced</option>
                    <option value="Virtuoso">Virtuoso</option>
                </select>
                <label for="interest">Interest</label>
                <textarea autocapitalize="words" name="interest" id="interest" cols="15" rows="2"
                    placeholder="Place Interest Here"></textarea>
                <!-- <input type="number" name="budget"> -->
            </div>
        </section>
        <input type="submit" value="submit">
    </form>

    <%- include('../../partials/footer') %>