<%- include('../../partials/header') %>


        <% if (user && student) { %>
            <section id="show-page">

                <div>Name:
                    <div class="name-input">
                        <%= student.nickname %>
                    </div>
                </div>
                <div>Location:
                    <div class="location-input">
                        <%= student.location %>
                    </div>
                </div>
                <div>Bio:
                    <div class="bio-input">
                        <%= student.bio %>
                    </div>
                </div>
                <div>Instruments:
                    <div>
                        <% student.instruments.forEach(function(i) { %>

                            <%= i.name %>

                                <% }) %>
                    </div>
                </div>
                <div>Genres:
                    <div>
                        <%= student.genres %>
                    </div>
                </div>
                <div>Skill:
                    <div>
                        <%= student.skillLevel %>
                    </div>
                </div>
                <div>Instructors:
                    <div>
                        <% student.chosenInstructors.forEach(function(i) { %>

                            <%= i.name %>


                                <% }) %>
                    </div>
                </div>
                <div>Needs:
                    <div>
                        <% student.needs.forEach(function(need) { %>

                            <%= need.name %>

                                <% }) %>
                    </div>
                </div>
                <div>Interest:
                    <div>
                        <%= student.interest %>
                    </div>
                </div>
                <a href="/profiles/instructors">View Instructors</a>
            </section>

            <% } %>


                <%- include('../../partials/nav-footer') %>