<%- include('../../partials/header') %>


    <% if (user && student) { %>
        <section id="show-page">

            <div>Name:
                <div autocapitalize="words" class="name-input">
                    <%= student.nickname %>
                </div>
            </div>
            <div>Location:
                <div autocapitalize="words" class="location-input">
                    <%= student.location %>
                </div>
            </div>
            <div>Bio:
                <div autocapitalize="sentences" class="bio-input">
                    <%= student.bio %>
                </div>
            </div>
            <div>Instruments:
                <div>
                    <% student.instruments.forEach(function(i) { %>

                        <%= i.name %>

                            <% }) %>
                </div>
            </div>
            <div>Genres:
                <div>
                    <%= student.genres %>
                </div>
            </div>
            <div>Skill:
                <div>
                    <%= student.skillLevel %>
                </div>
            </div>
            <div>Instructors:
                <div>
                    <% student.chosenInstructors.forEach(function(i) { %>

                        <a href="/profiles/instructors/<%= i._id%>">
                            <%= i.nickname %>
                        </a>


                        <% }) %>
                </div>
            </div>
            <div>Needs:
                <div>
                    <% student.needs.forEach(function(need) { %>

                        <%= need.name %>

                            <% }) %>
                </div>
            </div>
            <div>Interest:
                <div autocapitalize="words">
                    <%= student.interest %>
                </div>
            </div>
            <a href="/profiles/instructors">View Instructors</a>
            <a href="/profiles/<%= student._id %>/edit">UPDATE PROFILE</a>
            <a class="update-profile-link" href="/profiles/<%= profile._id%>/delete">DELETE PROFILE</a>
        </section>

        <% } %>


            <%- include('../../partials/nav-footer') %>